.rake_test_cache
.kitchen
.chef/*.pem
.cinc/*.pem
.cinc/cinc_guid
/data_bags
/data_bags/*
node-backup*
.DS_Store
*~
*.swp
*.swo
/cookbooks
/osl-cookbooks
/osuosl-cookbooks
/community-cookbooks
/vendor
/testing
Berksfile.lock

# chef-provisioner
/provisioning/.chef/*.pem
/provisioning/.chef/local-mode-cache
/provisioning/.chef/clients
/provisioning/.chef/nodes
/provisioning/.chef/provisioning
/provisioning/.cinc/*.pem
/provisioning/.cinc/local-mode-cache
/provisioning/.cinc/clients
/provisioning/.cinc/nodes
/provisioning/.cinc/provisioning
/provisioning/nodes
/provisioning/cookbooks
/provisioning/clients
/provisioning/vendor
/provisioning/Berksfile.lock
/provisioning/terraform.tfstate*
/provisioning/.terraform

# allow local berkshelf settings
.berkshelf/
